*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: 0px  auto;
}
@media  ( max-width:900px ){
.box{
color: beige;
background-color: red;
}
 
}
@media ( max-width:576px   ){
.box{
    background-color: blue;
}
}
.box{
    width: 200px;
    height: 200px;
    
}
.boxes{
   display: flex;
   gap: 20px;
    
}
